In [14]:
import pandas as pd 
import numpy as np
dfp = pd.read_excel("pp_full_data.xlsx")
dfp

,Sr No.,Date of\nEncashment,Name of the Political Party,Account no. of\nPolitical Party,Prefix,Bond\nNumber,Denominations,Pay Branch\nCode,Pay Teller
0,1,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775,10000000,800,2770121
1,2,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975,10000000,800,2770121
2,3,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967,10000000,800,2770121
3,4,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,10418,1000000,800,2770121
4,5,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126,1000000,800,2770121
...,...,...,...,...,...,...,...,...,...
20416,20417,2024-01-24,JANASENA PARTY,*******3929,TL,2619,1000000,847,7620160
20417,20418,2024-01-24,JANASENA PARTY,*******3929,TL,2608,1000000,847,7620160
20418,20419,2024-01-24,JANASENA PARTY,*******3929,TL,2633,1000000,847,7620160
20419,20420,2024-01-24,JANASENA PARTY,*******3929,TL,2627,1000000,847,7620160
20420,20421,2024-01-24,JANASENA PARTY,*******3929,TL,2631,1000000,847,7620160

In [19]:
#renaming columns 
dfp.rename({"Date of\nEncashment":"Date of Encashment","Account no. of\nPolitical Party": "Account no. of Political Party",
           "Bond\nNumber": "Bond Number", "Pay Branch\nCode": "Pay Branch Code"}, axis = 1,inplace = True)

In [20]:
dfp

,Sr No.,Date of Encashment,Name of the Political Party,Account no. of Political Party,Prefix,Bond Number,Denominations,Pay Branch Code,Pay Teller
0,1,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775,10000000,800,2770121
1,2,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975,10000000,800,2770121
2,3,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967,10000000,800,2770121
3,4,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,10418,1000000,800,2770121
4,5,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126,1000000,800,2770121
...,...,...,...,...,...,...,...,...,...
20416,20417,2024-01-24,JANASENA PARTY,*******3929,TL,2619,1000000,847,7620160
20417,20418,2024-01-24,JANASENA PARTY,*******3929,TL,2608,1000000,847,7620160
20418,20419,2024-01-24,JANASENA PARTY,*******3929,TL,2633,1000000,847,7620160
20419,20420,2024-01-24,JANASENA PARTY,*******3929,TL,2627,1000000,847,7620160
20420,20421,2024-01-24,JANASENA PARTY,*******3929,TL,2631,1000000,847,7620160

In [22]:
dfp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20421 entries, 0 to 20420
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Sr No.                          20421 non-null  int64
 1   Date of Encashment              20421 non-null  datetime64[ns]
 2   Name of the Political Party     20421 non-null  object
 3   Account no. of Political Party  20421 non-null  object
 4   Prefix                          20421 non-null  object
 5   Bond Number                     20421 non-null  int64
 6   Denominations                   20421 non-null  int64
 7   Pay Branch Code                 20421 non-null  int64
 8   Pay Teller                      20421 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 1.4+ MB

In [25]:
dfp.loc[dfp["Bond Number"] == 1098]
#we can seet hat bond number are repeating but what makes them unique is their prefix and bond number togather
# which we can use to joi it with dinor list.

,Sr No.,Date of Encashment,Name of the Political Party,Account no. of Political Party,Prefix,Bond Number,Denominations,Pay Branch Code,Pay Teller
2641,2642,2019-04-23,BHARATIYA JANATA PARTY,*******8244,OL,1098,100000,691,3300196
4376,4377,2019-10-11,BHARATIYA JANATA PARTY,*******8244,OC,1098,10000000,691,2039265
11920,11921,2022-10-20,AAM AADMI PARTY,*******5086,TL,1098,1000000,691,5972302

In [29]:
dfp["Bond Number"].nunique()

15296

In [32]:
dfp["pkey"] = dfp["Prefix"] + "-" + dfp["Bond Number"].astype(str)

In [35]:
dfp

,Sr No.,Date of Encashment,Name of the Political Party,Account no. of Political Party,Prefix,Bond Number,Denominations,Pay Branch Code,Pay Teller,pkey
0,1,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775,10000000,800,2770121,OC-775
1,2,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975,10000000,800,2770121,OC-3975
2,3,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967,10000000,800,2770121,OC-3967
3,4,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,10418,1000000,800,2770121,TL-10418
4,5,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126,1000000,800,2770121,TL-126
...,...,...,...,...,...,...,...,...,...,...
20416,20417,2024-01-24,JANASENA PARTY,*******3929,TL,2619,1000000,847,7620160,TL-2619
20417,20418,2024-01-24,JANASENA PARTY,*******3929,TL,2608,1000000,847,7620160,TL-2608
20418,20419,2024-01-24,JANASENA PARTY,*******3929,TL,2633,1000000,847,7620160,TL-2633
20419,20420,2024-01-24,JANASENA PARTY,*******3929,TL,2627,1000000,847,7620160,TL-2627
20420,20421,2024-01-24,JANASENA PARTY,*******3929,TL,2631,1000000,847,7620160,TL-2631

In [37]:
dfp.drop(["Prefix","Bond Number"],axis =1, inplace = True)

In [42]:
dfp["Name of the Political Party"].value_counts().reset_index()

                          Name of the Political Party  count
0                              BHARATIYA JANATA PARTY   8633
1                        ALL INDIA TRINAMOOL CONGRESS   3305
2             PRESIDENT, ALL INDIA CONGRESS COMMITTEE   3146
3                              BHARAT RASHTRA SAMITHI   1806
4                                     BIJU JANATA DAL    861
5                     DRAVIDA MUNNETRA KAZHAGAM (DMK)    648
6   YSR CONGRESS PARTY (YUVAJANA SRAMIKA RYTHU CON...    469
7                                            SHIVSENA    355
8                                  TELUGU DESAM PARTY    279
9                                     AAM AADMI PARTY    245
10                                RASHTRIYA JANTA DAL    150
11     NATIONALIST CONGRESS PARTY MAHARASHTRA PRADESH    121
12                             JANATA DAL ( SECULAR )     75
13                           SIKKIM KRANTIKARI MORCHA     50
14                           ADYAKSHA SAMAJVADI PARTY     46
15                             JHARKHAND MUKTI MORCHA     45
16                                     JANASENA PARTY     39
17           ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM     38
18                                SHIROMANI AKALI DAL     33
19                      MAHARASHTRAWADI GOMNTAK PARTY     28
20                                  GOA FORWARD PARTY     17
21                    BIHAR PRADESH JANTA DAL(UNITED)     14
22                            SIKKIM DEMOCRATIC FRONT     10
23              JAMMU AND KASHMIR NATIONAL CONFERENCE      5
24  YSR CONGRESS PARTY (YUVAJANA SRAMIKA RYTHU CON...      3

In [ ]:
dfp.to_csv("pp_cleaned",index=False)